<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<!-- configuration elements -->

	<TestRunParameters>

	</TestRunParameters>

	<TestSessionTimeout>10000</TestSessionTimeout>
	<TreatNoTestsAsError>true</TreatNoTestsAsError>

	<TargetFrameworkVersion>net50</TargetFrameworkVersion>

</RunSettings>
